$primary-color: #3B3A5D;
$secondary-color: #FFBB50;
$content-color: #8F8F8F;
$link-color: #B16642;
$border-color: #C78A6C;
$list-items-color: #A4A4A4;
$primary-font: 'Kufam', sans-serif;
$medium-font-weight: 500;
$semibold-font-weight: 600;
$bold-font-weight: 700;